/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.table > tbody > tr > td.vert-middle {
    vertical-align: middle;
}

div > .row {
    margin-right: 0;
    margin-left: 0;
}

.account-value {
    width: 98%;
    padding: 1%;
    margin-top: 5px;
}

.btn-transaction {
    margin-top: 25px;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.text-error {
    color: darkred;
}

.table > tbody > tr > td.vert-middle > span.text-error {
    vertical-align: top;
}

input.submitted.ng-invalid {
    border: 1px solid darkred;
}

.form-inline > .form-group > .date-input {
    width: 120px;
}