<div>
    <form name="addAccountForm">
        <table class="table table-hover table-bordered table-condensed">
            <caption>Счета клиента {{client.lastName + " "+ client.firstName}}</caption>
            <thead>
            <tr>
                <td class="col-md-2 text-center">#</td>
                <td class="col-md-4 text-center">Счет</td>
                <td class="col-md-4 text-center">
                    <span ng-click="reverse = !reverse">Состояние</span>
                    <span class="sortorder" ng-class="{reverse:reverse}"></span>
                </td>
                <td class="col-md-2 text-center">Действия</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accounts | orderBy: 'amount' : reverse">
                <td class="text-center">{{$index + 1}}</td>
                <td class="text-center">{{account.title}}</td>
                <td class="text-center">{{account.amount}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="vert-middle text-center">{{accounts.length + 1}}</td>
                <td class="vert-middle text-center">
                    <input ng-model="newAccount.title" name="Title"
                           class="text-center" ng-class="{submitted:addAccountForm.submitted}" type="text" required/>
                    <span class="text-error"
                          data-ng-show="addAccountForm.submitted && (addAccountForm.Title.$error.required || !isAccountUnique())">
                            Обязательное уникальное поле</span>
                </td>
                <td class="vert-middle text-center">
                    <input ng-model="newAccount.amount" name="Amount"
                           class="text-center" ng-class="{submitted:addAccountForm.submitted}" type="number" required/>
                    <span class="text-error"
                          data-ng-show="addAccountForm.submitted && addAccountForm.Amount.$error.required">
                            Обязательное поле</span>
                </td>
                <td class="vert-middle">
                    <button type="button" class="btn btn-success btn-s center-block"
                            ng-click="addAccount()">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <hr>
    <div ng-show="accounts.length>0">
        <div ng-show="accounts.length > 1">
            <div class="row">
                <p class="text-info">Услуги</p>
            </div>
            <div class="row">
                <p class="text-info">Перевод между счетами</p>
            </div>
            <div class="row">
                <div class="row">
                    <form name="addTransferForm">
                        <div class="col-md-2">
                            <label for="amount-1">Сумма</label>
                            <input class="account-value"
                                   type="number" min="0" id="amount-1" max="{{transactionMax}}"
                                   ng-model="transaction.amount">
                        </div>
                        <div class="col-md-4">
                            <label for="accountFrom-1">Счет для списания</label>
                            <select id="accountFrom-1"
                                    ng-click="changeTransactionMax()"
                                    ng-model="transaction.accountFrom.id"
                                    ng-options="account.id as account.title for account in accounts | orderBy:'amount' "
                                    class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="accountTo-1">Счет для зачисления</label>
                            <select id="accountTo-1"
                                    ng-model="transaction.accountTo.id"
                                    ng-options="account.id as account.title for account in accounts | orderBy:'amount' "
                                    class="form-control">
                            </select>
                        </div>
                        <div class="col-md-2 text-center">
                            <button id="btn-transaction" class="btn btn-success btn-transaction"
                                    ng-click="doTransaction()">
                                Выполнить
                            </button>
                        </div>
                        <div class="right">
                        <span class="text-error"
                              data-ng-show="addTransferForm.submitted && (transaction.accountFrom.id == transaction.accountTo.id)">
                            Счета для списания и зачисления должны быть различными</span>
                        <span class="text-error"
                              data-ng-show="addTransferForm.submitted && (transaction.amount > transactionMax)">
                            <br>Сумма перевода не должна быть более {{transactionMax}}</span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>

        <div class="row">
            <p class="text-info">Пополнение счета</p>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="amount-2">Сумма</label>
                <input id="amount-2" class="account-value" type="number" ng-model="credit.amount">
            </div>
            <div class="col-md-4">
                <label for="accountTo-2">Счет для зачисления</label>
                <select id="accountTo-2"
                        ng-model="credit.accountTo.id"
                        ng-options="account.id as account.title for account in accounts | orderBy:'amount' "
                        class="form-control">
                </select>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 text-center">
                <button class="btn btn-success btn-transaction" ng-click="creditAccount()">Выполнить</button>
            </div>
        </div>
        <br>

        <div class="row">
            <p class="text-info">Снятие со счета</p>
        </div>
        <div class="row">
            <form name="addDebitFrom">
                <div class="col-md-2">
                    <label for="amount-3">Сумма</label>
                    <input id="amount-3" class="account-value"
                           type="number" min="0" max="debitMax"
                           ng-model="debit.amount">
                </div>
                <div class="col-md-4">
                    <label for="accountTo-3">Счет для снятия</label>
                    <select id="accountTo-3"
                            ng-click="changeDebitMax()"
                            ng-model="debit.accountFrom.id"
                            ng-options="account.id as account.title for account in accounts | orderBy:'amount' "
                            class="form-control">
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-2 text-center">
                    <button class="btn btn-success btn-transaction" ng-click="debitAccount()">Выполнить</button>
                </div>
            </form>
        </div>
    </div>
</div>
